*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
}
body{
    margin: 0px;
    background-color:rgb(234, 234, 234) ;
}
header {
    float : right;
    margin: -140px 20px 0px 0px;
}
#theme-btn{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
#toggle-btn{
    display: none;
}
.thm{
    background-color:black;
    color:white;
    display: none;
}
.main-wrap{
    display: flex;
    margin-top: 170px;
    padding: 5px 0px 0px 110px;
    width: 100%;
}
.wrap-1{
    width: 50%;
}
.wrap-img{
    width: 19em;
}
.wrap-txt{
    margin-left: 30px;
    margin-top: -12px;
    font-size: 26px;
    font-family: 'inter';
    font-weight: 500;
}
.wrap-2{
    width: 50%;
}
.mini-wrap{
    background-color: white;
    width: 70%;
    padding: 20px 10px 30px 10px;
    margin-left: 30px;
    margin-top: -30px;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0px 05px 3px 0px rgba(0, 0, 0, 0.034);
}
form{
    text-align: center;
}
.txt-user{
    padding: 15px;
    border: solid 1px rgba(49, 49, 61, 0.148);
    border-radius: 5px;
    width: 98%;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.091) inset;
}
div.pas{
    display: flex;
    padding: 15px;
    width:90%;
    margin-top: 20px;
    width:98%;
    border: solid 1px rgba(49, 49, 61, 0.148);
    border-radius: 5px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.091) inset;
}
.pass{
    width:92%;
    margin-right: 15px;
    border: none
}
.pas i{
    cursor: pointer;
}
.log-in{
    padding: 10px;
    margin: 20px 0px 20px 0px;
    width: 98%;
    border: solid 1px rgba(49, 49, 61, 0.148);
    border-radius: 10px;
    background-color: rgb(0, 115, 255);
    color: white;
    font-family: 'inter';
    font-weight: bold;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in
}
.log-in:hover{
    background-color: rgb(3, 105, 230);
}
.fgt-pass{
    font-family: 'inter';
    font-size: 13px;
    color:  rgb(0, 115, 255);
}
.fgt-pass:hover{
    text-decoration: underline;
}
hr{
    margin: 20px 0px 20px 0px;
    opacity: 0.1;
}
.fb-btn{
    padding: 10px;
    border-radius: 5px;
    border: thin;
    background-color: rgb(84, 185, 26);
    color: white;
    font-family: 'inter';
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.fb-btn:hover{
    background-color: rgb(75, 142, 35);
}
.brand-b{
    font-family: 'inter';
    font-size: 14px;
    margin-left: 5em;
}
.create-pg strong{
    font-family: 'inter';
    color: black;
}
.create-pg strong:hover{
    text-decoration: underline;
}

/* for iphone screen size*/
@media (max-width: 414px) {
    #toggle-btn {
        display: block ;
        margin-right: 30px;
        width: 10px;
        font-size: 30px;
        position:relative;
    }
    #theme-btn{
        display: none;
    }
    .thm{
        display: none;
        width:100%;
    }
    .thm ul{
        display:flex;
        background-color: black;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 0px;
        width: 100%;
        padding: 20px 0px 20px 0px
    }
    .thm.active {
        display: flex;
    }
}